.gridContainer {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(7, auto);
  grid-template-rows: repeat(5, auto);
  text-align: center;
  height: max-content;
  width: 100%;
}

.headerItem {
  font-size: 25px;
  font-weight: 900;
}

.dateItem {
  width: 96px;
  position: relative;
}

.heart {
  display: block;
  position: absolute;
  top: -10px;
  left: -4px;
  transform: rotate(8deg);
}